html,body {
  width: 100vw;
  height: 100vh;
  margin: 0;

}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background: #9d9d9d;}

.nav-list li button{
  padding: 0;
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  white-space: nowrap;
}

.nav-list.show li button p{
  font-size: 1rem;
  font-weight:bolder;
  margin: 1px 5px;
}

.nav-list li button p{
  font-size: 1rem;
  font-weight:bolder;
  margin: 1px 5px;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 50px;
  width: 100vw;

}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  justify-content:space-evenly;
  align-content: center;
  padding: 10px;
  width: 100vw;
}




.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  flex: 1;
  cursor: pointer;
  width: 100px;
}

.bar {
  min-width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 10;
}

.log h1 {
  margin: 0;
  font-size: 1rem;

}


.nav-list li {
  display: block;
  list-style: none;
  margin: 0 10px;
  line-height: 1.8;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

#inputInfo{
  border: none;
  color: #333;
}

.nav-list li *{
  position: relative;;
  right: 100px;
  opacity: 0; 
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: right 5s ease-in, right 1s ease-out ,opacity 1.5s ease-in-out;  
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.nav-list.show li *{
  right: 0;
  font-size: 20px;
  opacity: 1;
  cursor: pointer;
}

.nav-list { 
  position: absolute;
  margin: 0; padding: 0;border: none;
  width: 0px;
  left: -100px;
  height: 100vh;
  background-color: #333;
  transition: 1.2s ease-in-out;
}

.nav-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  left: 0;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin: 0;
  height: 100vh;
  width: 9rem;
}

.nav-list li button{
  padding: 0;
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  white-space: nowrap;
}

.nav-list.show li button p{
  font-size: 1rem;
  font-weight:bolder;
  margin: 1px 5px;
}

.nav-list li button p{
  font-size: 1rem;
  font-weight:bolder;
  margin: 1px 5px;
}